{% extends 'base.html.twig' %}

{% block title %}Page de création de compte{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>valider</button>
    {{ form_end(form) }}
{% endblock %}
